@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer {
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 100%
  );
  background-size: 200% 100%;
  animation: shimmerAnimation 1s infinite;
}

/* Define the shimmer animation */
@keyframes shimmerAnimation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
/* DiscountBanner.module.css */
.animate-banner {
  animation: colorChangeAnimation 3s infinite;
}

@keyframes colorChangeAnimation {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
}