@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer {
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 100%
  );
  background-size: 200% 100%;
  animation: shimmerAnimation 1s infinite;
}

/* Define the shimmer animation */
@keyframes shimmerAnimation {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
/* DiscountBanner.module.css */
.animate-banner {
  animation: colorChangeAnimation 3s infinite;
}

@keyframes colorChangeAnimation {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
}

.slick-active .dot-animate {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0 auto;
  display: flex;
  margin-top: -5px;
  justify-content: center;
  align-items: center;
  transition: width 0.2s, height 0.2s;
  transition-timing-function: ease-in-out;
}

/* Media Queries for Responsive Design */

/* Mobile devices */
@media screen and (max-width: 640px) {
  /* Add responsive styles for mobile devices */
  /* For example: */
  .container {
    max-width: 100%;
    padding: 1rem;
  }
  /* Continue adding more responsive styles as needed */
}

/* Tablets */
/* @media screen and (min-width: 641px) and (max-width: 1024px) {
  
  .container {
    max-width: 80%;
    padding: 2rem;
  }
  
} */

/* Desktops */
/* @media screen and (min-width: 1025px) {
  
  .container {
    max-width: 1200px;
    padding: 3rem;
  }
  
} */